@import url("font-awesome.css");

/* =Reset
-------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

body {
	font-size:14px;
	line-height:1.25;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

p {
	-webkit-hyphens:auto;
	hyphens:auto;
}

a {
	-webkit-transition:.2s;
	-ms-transition:.2s;
	-o-transition:.2s;
	-moz-transition:.2s;
	transition:.2s;
}

/* = Core Structure
-------------------------------------------------------------- */
body {
	color:#444;
	width:950px;
	margin:auto;
	text-shadow:0 1px 0 rgba(255,255,255,01);
	background-color:#FFF;
	
}

#container {
	padding:1rem 80px;
	margin:80px auto;
	border-top:8px solid #666;
	border-bottom:2px solid #666;
	background:#f5f5f5 url(media/paper.png);
	box-shadow:0 0 3px rgba(0,0,0,.4);
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	position: relative;
	overflow: hidden;
}

section {
	margin-bottom:2rem;
	padding-bottom:2rem;
	border-bottom:1px solid #ccc;
	overflow:auto;
}

article:last-of-type {
	padding-bottom:0;
	border-bottom:none;
}

section:last-of-type {
	margin-bottom:0;
}

.right {
	float:right;
	width:80.2%;
}

.left {
	width:12.3%;
	float:left;
}

footer {
	margin-bottom:2rem;
}

/* = Header
-------------------------------------------------------------- */
header {
	margin:25px 0 42px;
	padding-bottom:21px;
	border-bottom:1px solid #ccc;
	overflow:auto;
}

.right-plate {
	float:right;
	vertical-align:top;
	width:250px;
}

.plate {
	float:left;
	vertical-align:top;
}

.contact-info {
	/*width: 87px ;*/
	display:inline-block;
	vertical-align:top;
	float:left;
}

#social {
	list-style:none;
	display:inline-block;
	float:right;
	vertical-align:top;
	overflow:visible;
}

#social li {
	display:block;
	border:0;
	margin-bottom:4px;
}

#social li a {
	display:block;
}

#social [class^="icon-"]:before {
	font-size:24px;
	color:rgba(100,100,100,.8);
	text-shadow:1px 2px 2px #f4f4f4,0 0 0 #000,1px 2px 2px #f4f4f4;
}

#social [class^="icon-"]:hover:before {
}

/*--- = Footer */
footer {
	padding:12px 0 10px;
	font-size:12px;
	text-align:center;
}

footer p {
	margin-bottom:0;
	text-align:center;
}

/* = Core Typography
-------------------------------------------------------------- */
h1,h2,h3,h4 {
	color:#333;
	line-height:1.25;
}

h2 {
	font-size:21px;
}

.left h2 {
	font-weight:500;
	font-style:italic;
	text-transform:capitalize;
}

h3,h4 {
	font-size:16px;
}

a {
	color:#222;
}

a:hover {
	text-decoration:none;
}

[class^="icon-"]:before {
	text-decoration:none;
}

li [class^="icon-"],li [class*=" icon-"] {
	width:auto;
}

.button {
	background-size:contain;
	height:24px;
	width:24px;
	float:left;
	display:inline-block;
	margin-left:20px;
}

/*--- = Header */
header h1 {
	font-size:48px;
	font-weight:600;
	line-height:1;
	text-transform:uppercase;
	letter-spacing:3px;
}

header h2 {
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:400;
}

header h4 {
	font-size:12px;
}

h3#print {
	display:block;
	overflow:auto;
}

button {
	background:#666;
	color:#fff;
	line-height:1;
	padding:7px 12px;
	text-decoration:none;
	border:0;
	cursor:pointer;
	font-size:inherit;
	text-align:left;
	width:100%;
	box-sizing:border-box;
	font-family:inherit;
	font-weight:500;
}

button:hover {
	background:#333;
}

/* = Detail List
-------------------------------------------------------------- */
article {
	position:relative;
	margin-bottom:1rem;
	padding-bottom:1rem;
	border-bottom:1px solid #ccc;
}

article h2 {
	font-weight:500;
	float:left;
	display:inline-block;
}

article h3 {
	clear:both;
}

article h4 {
	position:absolute;
	top:0;
	right:0;
	font-weight:200;
}

article p {
	margin:10px 0;
}

.detail-list .right article h2	{
	font-size: 14px;
	float: left;
}
.detail-list .right article h3	{
	font-size: 14px;
	float: left;
	clear: none;
	font-weight: 300;
	margin-left: 20px;
	font-style: italic;
}
.detail-list .right article p	{
	clear: both;
	font-size: 14px;
}
.detail-list .right article hgroup	{
	margin-bottom: 10px;
	clear: both;
	overflow: auto;
}
/* = List
-------------------------------------------------------------- */
.skills ul {
	-webkit-column-count:3;
	-moz-column-count:3;
	-webkit-column-gap:20px;
	-moz-column-gap:20px;
	column-gap:20px;
}

.skills li {
	height:25px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.skills li:nth-child(3n) {
	border:none;
	margin-bottom:-3px;
}

.list li {
	line-height:24px;
	border-bottom:1px solid #ccc;
}

/* = Jobs
-------------------------------------------------------------- */
article [href=''] {
	display:none!important;
}

article [class^="icon-"]:before {
	color:#CCC;
}

/* = Objective
-------------------------------------------------------------- */
.objective .right {
	font-size:21px;
	text-align:justify;
	font-weight:400;
}

.objective .right::before {
	content:'"';
}

.objective .right::after {
	content:'"';
}

/* = Contact Form
-------------------------------------------------------------- */
.contact	{
	display: -webkit-flex;
	-webkit-flex-flow: column wrap;
	width: 950px;
	box-sizing: border-box;
	margin: 0 auto;
		border: 1px #aaa;
	background-color: #eee;
	border: 1px solid #ccc;
	box-shadow:0 0 3px rgba(0,0,0,.4);
	position: absolute;
	padding: 40px;
	border-radius: 20px 20px 0 0;
	transition: .3s;
}
.contact.hidden	{
	bottom: -90px;
}
.contact h2	{
	text-align: center;
	flex: 1 1 100%;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 20px;
}
.return-message	{
	display: -webkit-flex;
	margin: auto;
}
#contact-form	{
	display: -webkit-flex;
	width: 100%;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-content: space-between;
}
input {
	-webkit-flex: 1 1 40%;
	padding:7px 5px;
	max-width:50%;
}


input,textarea {
	box-shadow:inset 0 0 6px rgba(0,0,0,.1);
	border:1px solid #777;
	font-size:16px;
	font-family:inherit;
	margin-bottom:10px;
	padding:7px 5px;
	box-sizing:border-box;
	background-color:#FFF;
}

textarea {
	-webkit-flex: 1 100%;
		min-height: 150px;
	
}

.contact button {
	height:34px;
	-webkit-flex: 1 100%;
	text-align: center;
}

.contact [class^="icon-"] {
	float:left;
	margin-right:20px;
}

.contact [class^="icon-"]:before {
	font-size:36px;
}

/* = Print
-------------------------------------------------------------- */
@media print {
a {
	text-decoration:none!important;
}

article {
	page-break-inside:avoid;
}

h3#print,#social,.button,.contact {
	display:none;
}

#container {
	margin:0;
	border:none;
	box-shadow:none;
}

.skills li {
	display:inline-block;
	width:26%;
	margin-right:3%;
}

.skills li:nth-child(3n) {
	border-bottom:1px solid #CCC;
	margin-bottom:0;
}

.skills li:nth-child(n+7):nth-child(-n+9) {
	border:none;
	margin-bottom:-3px;
}
}