@import url("ionicons.min.css");

/* =Reset
-------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

body {
	font-size:16px;
	line-height:24px;
	font-family:'Merriweather Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

p {
	-webkit-hyphens:auto;
	hyphens:auto;
}

a {
	-webkit-transition:.2s;
	-ms-transition:.2s;
	-o-transition:.2s;
	-moz-transition:.2s;
	transition:.2s;
}

/* = Core Structure
-------------------------------------------------------------- */
body {
	color:#444;
	width:950px;
	margin:auto;
	background-color:#FFF;
	
}

#container {
	padding:1rem 80px;
	margin:80px auto;
	border-top:8px solid #666;
	border-bottom:2px solid #666;
	background:#f5f5f5;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	position: relative;
	overflow: hidden;
}

section {
	margin-bottom:1.5rem;
	padding-bottom:1.5rem;
	border-bottom:1px solid #ccc;
	overflow:auto;
}

article:last-of-type {
	padding-bottom:0;
	border-bottom:none;
}

section:last-of-type {
	margin-bottom:0;
}

.right {
	float:right;
	width:80.2%;
}

.left {
	width:12.3%;
	float:left;
}

footer {
	margin-bottom:2rem;
}

/* = Header
-------------------------------------------------------------- */
header {
	margin:1.5rem 0 1.5rem 0;
	padding-bottom:1.5rem;
	border-bottom:1px solid #ccc;
	overflow:auto;
}

.right-plate {
	float:right;
	vertical-align:top;
	width:250px;
}

.plate {
	float:left;
	vertical-align:top;
}
.plate h1{
	font-family: 'Arvo', 'Georgia', serif;
}
.contact-info {
	/*width: 87px ;*/
	display:inline-block;
	vertical-align:top;
	float:left;
}

#social {
	list-style:none;
	display:inline-block;
	float:right;
	vertical-align:top;
	overflow:visible;
}

#social li {
	display:block;
	border:0;
	margin-bottom:4px;
}

#social li a {
	display:block;
	text-align: center;
}

#social a {
	font-size:24px;
	color: #666;
}

/*--- = Footer */
footer {
	padding:12px 0 10px;
	font-size:12px;
	text-align:center;
}

footer p {
	margin-bottom:0;
	text-align:center;
}

/* = Core Typography
-------------------------------------------------------------- */
h1,h2,h3,h4 {
	color:#333;
}

h2 {
	font-size:21px;
}

.left h2 {
	font-weight:600;
	font-style:italic;
	text-transform:capitalize;
}

h3,h4 {
	font-size:16px;
}

a {
	color:#222;
}

a:hover {
	text-decoration:none;
}

/*--- = Header */
header h1 {
	font-size:48px;
	font-weight:600;
	line-height:1;
	text-transform:uppercase;
	letter-spacing:3px;
}

header h2 {
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:400;
}

header h4 {
	font-size:12px;
}

h3#print {
	display:block;
	overflow:auto;
}

button {
	background:#666;
	color:#fff;
	line-height:1;
	padding:7px 12px;
	text-decoration:none;
	border:0;
	cursor:pointer;
	font-size:inherit;
	text-align:left;
	width:100%;
	box-sizing:border-box;
	font-family:inherit;
	font-weight:500;
}

button:hover {
	background:#333;
}
/* = List
-------------------------------------------------------------- */
.skills ul {
	-webkit-column-count:3;
	-moz-column-count:3;
	-webkit-column-gap:20px;
	-moz-column-gap:20px;
	column-gap:20px;
}

.skills li {
	overflow:hidden;
	text-overflow:ellipsis;
}

.list li {
}

/* = Detail List
-------------------------------------------------------------- */
article {
	position:relative;
	margin-bottom:1rem;
}

article h2 {
	font-size: 18px;
	font-weight:600;
	float:left;
	display:inline-block;
}

article h3 {
	clear:both;
	font-style: italic;
}

article h4 {
	position:absolute;
	top:0;
	right:0;
	font-weight:200;
}

article p {
	margin:0;
}

.detail-list article h2	{
	font-size: 14px;
	float: left;
}
.detail-list article h3	{
	font-size: 14px;
	float: left;
	clear: none;
	font-weight: 300;
	margin-left: 20px;
	font-style: italic;
}
.detail-list article p	{
	clear: both;
	font-size: 14px;
}
.detail-list article hgroup	{
	margin-bottom: 10px;
	clear: both;
	overflow: auto;
}


/* = Grouped List
-------------------------------------------------------------- */	

.grouped-list ul	{
	list-style: none;
	margin-left: 24px;

}
.grouped-list .button	{
	float: none;
}
.grouped-list li	{
	display: block;
}
.grouped-list span	{
	font-style: italic;
}
.grouped-list time	{
	float: right;
}
.grouped-list h3	{
	text-transform: capitalize;
	font-weight: 600;
}

/* = Highlight List
-------------------------------------------------------------- */
article a[href=''] {
	display:none!important;
}

article hgroup a {
	color:#CCC;
	margin-left: 12px;
}


/* = Recognition
-------------------------------------------------------------- */

.recognition article{
	border:none;
	margin: 0;
	padding: 0;
}
.recognition article hgroup{
	margin: 0;
}
/* = Media Queries
-------------------------------------------------------------- */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	section
	 {
		border-width: 0.5px !important;
	}
}

/* = Print
-------------------------------------------------------------- */
@media print {
	body{
		font-family: 'Merriweather', serif;
	}
	section, header	{
		margin-bottom: 8px;
		padding-bottom: 4px;
	}
	
	
	a {
		text-decoration:none!important;
	}
	
	article {
		page-break-inside:avoid;
	}
	
	h3#print,#social,.button,.contact {
		display:none;
	}
	
	#container {
		margin:0;
		border:none;
		box-shadow:none;
	}
	
	.skills li {
		display:inline-block;
		width:26%; /* Print css overides columns by default*/
		margin-right:3%;
	}
	section,header	{
		border-bottom:1px solid #ccc !important;
	}
	/*--- =  Core Typography */
	article h2{
		font-size: 1rem;
	}
	article a {
		display: none;
	}
	.left	{
		font-family:'Merriweather Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	}
	.plate h1	{
		font-size: 36px;
	}
	.plate h2{
		font-size: 1rem;
	}
	.right-plate .contact-info{
		float: right;
		text-align: right;
	}
}